@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #100808;
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: "Marcellus";
  src: url("/fonts/Marcellus-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "JetBrain-extrabold";
  src: url("/fonts/JetBrainsMono-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
.info-window-content .gm-style-iw-t {
  display: none !important;
}
