@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Marcellus";
  src: url("/fonts/Marcellus-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  page-break-after: avoid;
  page-break-inside: avoid;
}

h1 + p,
h2 + p,
h3 + p {
  page-break-before: avoid;
}

table,
figure {
  page-break-inside: avoid;
}
html::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* The grabbable scrollbar button  */
html::-webkit-scrollbar-thumb {
  background: #041658;
  border-radius: 30;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

/* The vertical scrollbar background */
html::-webkit-scrollbar-track {
  background: #d1dadd;
}
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: none;
}

.info-window-content .gm-style-iw-t {
  display: none !important;
}
/* Hide clear icon in search input */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.grecaptcha-badge {
  visibility: hidden;
}
.swiper-pagination-bullet {
  font-size: 20px;
  background: #e4e5fc;
}

.swiper-pagination-bullet-active {
  font-size: 20px !important;
  background: #b59363 !important;
}

/* Hide arrows for input[type="number"] */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield; /* Firefox */
}
